@model ProductsListViewModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
</nav>

<div class="container py-5">
    <h1 class="text-center">Products</h1>
    <hr>

    <!-- Filters Section -->
    <div class="filters-section p-3 mb-4 bg-light" style="border-radius: 5px;">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
                <span class="font-weight-bold">Filters</span>
                <img src="~/img/filters.png" style="height: 20px" />
            </div>
            <div>
                <span>Results per page:</span>
                <div class="btn-group" role="group">
                    @foreach (var size in new[] { 5, 10, 15 })
                    {
                        <a class="btn btn-light @(Model.PaginationInfo.ItemsPerPage == size ? "active" : "btn-outline-secondary")"
                           asp-controller="Home"
                           asp-action="Products"
                           asp-route-pageNum="1"
                           asp-route-productType="@Model.CurrentProductType"
                           asp-route-productColor="@Model.CurrentProductColor"
                           asp-route-pageSize="@size">@size</a>
                    }
                </div>
            </div>
        </div>
        <div class="d-flex">
            <vc:product-types />
            <vc:product-colors />
        </div>
    </div>

    <!-- Products Grid -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var product in Model.Products)
        {
            <partial name="ProductSummary" model="product" />
        }
    </div>

    @* Custom Tag Helper *@
    <div page-model="@Model.PaginationInfo" page-action="Products" page-class-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
         page-url-projectType="@Model.CurrentProductType" page-url-projectColor="@Model.CurrentProductColor" class="btn-group pull-right m-1">
    </div>
</div>
