@page
@using Microsoft.AspNetCore.Authorization
@model BuildsByBrickwellNew.Pages.CartModel
@attribute [Authorize]
@{
    ViewData["Title"] = "Cart";

}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cart</li>
    </ol>
</nav>

<h2>Cart</h2>
<hr />

<div class="row">
    <div class="col-md-8">
        @foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
        {
            <div class="product-div p-3 my-2" style="background-color: #f5f5f5; display: flex; justify-content: space-between;">
                <div style="display: flex;">
                    <div style="width: 100px; height: 100px; overflow: hidden; display: flex; align-items: center;">
                        <img src="@l.Product.ImgLink" alt="@l.Product.Name" style="max-width: 100%; max-height: 100%; object-fit: contain;">
                    </div>
                    <div style="margin-left: 20px;">
                        <h5>@l.Product.Name</h5>
                        <p>In Stock</p>
                        <p>$@l.Product.Price/ea</p>
                    </div>
                </div>
                <div style="text-align: right;">
                    <p class="total-price">Total: @(((decimal)(l.Quantity * l.Product.Price)).ToString("C"))</p>
                    <div>
                        Qty: <span class="quantity" style="width: 60px;">@l.Quantity</span>
                    </div>
                    <div style="margin-top: 10px;">
                        <form asp-page-handler="Remove" method="post">
                            <input type="hidden" name="ProductId" value="@l.Product.ProductId" />
                            <input type="hidden" name="returnUrl" value="@Model?.ReturnUrl" />
                            <button type="submit" class="remove">Remove</button>
                        </form>
                        @* | <a href="#" class="save">Save</a> *@
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        <div class="summary-div p-3" style="border: 1px solid #ddd;">
            <p id="subtotal">Subtotal @Model.Cart?.CalculateTotal().ToString("c")</p>
            <hr />
            <p><strong>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">@Model.Cart?.CalculateTotal().ToString("c")</td>
            </strong></p>
            <a class="btn w-100" asp-area="" asp-controller="Home" asp-action="Checkout" style="background-color: #00c3fc; color: #ffffff;">Continue to Checkout</a>
        </div>
    </div>
</div>
    